# ----------------------------------------------------------------------
# Windows
# ----------------------------------------------------------------------
Thumbs.db
Desktop.ini

# ----------------------------------------------------------------------
# Project Specific
# ----------------------------------------------------------------------
!/bin/
/composer.lock
/conf/mariadb/movlib.mwb.bak
/etc/mariadb/movlib.mwb.bak
/private/sandbox/
/private/subscriptions.txt
/public/bower/
/vendor/
/public/vagrant/
/.vagrant/
/etc/vagrant/Visual Studio Project/MovLib Vagrant Bootstrap/publish/
/etc/vagrant/Visual Studio Project/MovLib Vagrant Bootstrap/bin/
/etc/vagrant/Visual Studio Project/MovLib Vagrant Bootstrap/obj/