# ----------------------------------------------------------------------
# Windows
# ----------------------------------------------------------------------
Thumbs.db
Desktop.ini

# ----------------------------------------------------------------------
# Project Specific
# ----------------------------------------------------------------------
!/bin/
/components/
/composer.lock
/conf/movlib.ini
/public/coverage/
/public/doc/
/vendor/
