# ----------------------------------------------------------------------
# Windows
# ----------------------------------------------------------------------
Thumbs.db
Desktop.ini

# ----------------------------------------------------------------------
# Project Specific
# ----------------------------------------------------------------------
!/bin/
/.vagrant/
/composer.lock
/etc/movlib/movlib.ser
/etc/mysql/movlib.mwb.bak
/etc/vagrant/Visual Studio Project/MovLib Vagrant Bootstrap/bin/
/etc/vagrant/Visual Studio Project/MovLib Vagrant Bootstrap/obj/
/etc/vagrant/Visual Studio Project/MovLib Vagrant Bootstrap/publish/
/lib/
/var/public/bower/
/var/public/vagrant/
/private/
*.mo
