/*!
 * This file is part of {@link https://github.com/MovLib MovLib}.
 *
 * Copyright © 2013-present {@link https://movlib.org/ MovLib}.
 *
 * MovLib is free software: you can redistribute it and/or modify it under the terms of the GNU Affero General Public
 * License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later
 * version.
 *
 * MovLib is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty
 * of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License along with MovLib.
 * If not, see {@link http://www.gnu.org/licenses/ gnu.org/licenses}.
 */

/**
 * Styles exclusive to the image details pages.
 *
 * @link http://engineering.appfolio.com/2012/11/16/css-architecture/
 * @author Markus Deutschl <mdeutschl.mmt-m2012@fh-salzburg.ac.at>
 * @copyright © 2013 MovLib
 * @license http://www.gnu.org/licenses/agpl.html AGPL-3.0
 * @link https://movlib.org/
 * @since 0.0.1-dev
 */

/* ---------------------------------------------------------------------------------------------------------------------
 * The stream above the preview
 * ------------------------------------------------------------------------------------------------------------------ */

#imagestream {
  background-color: #252525;
  overflow: hidden;
  padding: 20px 0;
  position: relative;
}

#imagestream a {
  border: 0;
  opacity: 0.5;
  overflow: hidden;
  position: relative;
  transition: opacity 0.4s ease-in-out;
}

#imagestream a.active,
#imagestream a:active,
#imagestream a:focus,
#imagestream a:hover {
  opacity: 1;
}

/*#imagestream .first,
#imagestream .last {
  width: 40px;
}

#imagestream .first img,
#imagestream .last img {
  position: relative;
  left: -10px;
}

#imagestream .last img {
  right: -10px;
  left: 0;
}

#imagestream .first:after,
#imagestream .last:after {
  background-image: linear-gradient(to left, transparent, #252525);
  bottom: 0;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

#imagestream .last:after {
  background-image: linear-gradient(to right, transparent, #252525);
}*/

/* ---------------------------------------------------------------------------------------------------------------------
 * The pager to the left/right of the preview.
 * ------------------------------------------------------------------------------------------------------------------ */


.imagedetails-pager {
  bottom: 0;
  color: #fff;
  font-size: 50px;
  opacity: 0.5;
  position: absolute;
  top: 0;
  transition: opacity 0.4s ease-in-out;
  width: 50px;
  z-index: 1;
}

.imagedetails-pager:hover,
.imagedetails-pager:focus {
  opacity: 1;
}

#imagedetails-left,
#imagedetails-left .icon {
  left: 0;
}

#imagedetails-right,
#imagedetails-right .icon {
  right: 0;
}

.imagedetails-pager .icon {
  position: absolute;
  top: 50%;
  margin-top: -36.5px;
}

/* ---------------------------------------------------------------------------------------------------------------------
 * The preview of the actual image.
 * ------------------------------------------------------------------------------------------------------------------ */

#imagedetails .s7 .img {
  margin-bottom: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
  transition: box-shadow 0.4s ease-in-out;
}

#imagedetails .s7 img {
  outline: 1px solid transparent;
  transition: outline-color 0.4s ease-in-out;
}

#imagedetails .s7 .img:active,
#imagedetails .s7 .img:focus,
#imagedetails .s7 .img:hover {
  box-shadow: 0 0 10px rgba(82, 168, 236, 0.6);
}

#imagedetails .s7 .img:active img,
#imagedetails .s7 .img:focus img,
#imagedetails .s7 .img:hover img {
  outline-color: rgba(82, 168, 236, 0.8);
}

#imagedetails:before {
  border: 10px solid transparent;
  border-top-color: #252525;
  content: "";
  left: 50%;
  margin-left: -10px;
  position: absolute;
  top: 0;
}
