/*!
 * This file is part of {@link Expression prj is undefined on line 2, column 48 in Templates/Licenses/license-movlib.txt. Expression prj is undefined on line 2, column 66 in Templates/Licenses/license-movlib.txt.}.
 *
 * Copyright © 2013-present {@link Expression prj is undefined on line 4, column 52 in Templates/Licenses/license-movlib.txt. Expression prj is undefined on line 4, column 67 in Templates/Licenses/license-movlib.txt.}.
 *
 * Expression prj is undefined on line 6, column 20 in Templates/Licenses/license-movlib.txt. is free software: you can redistribute it and/or modify it under the terms of the GNU Affero General Public
 * License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later
 * version.
 *
 * Expression prj is undefined on line 10, column 20 in Templates/Licenses/license-movlib.txt. is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty
 * of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License along with Expression prj is undefined on line 13, column 104 in Templates/Licenses/license-movlib.txt..
 * If not, see {@link http://www.gnu.org/licenses/ gnu.org/licenses}.
 */

/**
 * Pagination styles.
 *
 * @author Richard Fussenegger <richard@fussenegger.info>
 * @copyright © 2013–present, MovLib
 * @license http://www.gnu.org/licenses/agpl.html AGPL-3.0
 * @link https://movlib.org/
 * @since 0.0.1-dev
 */

#pagination-nav {
  display: table;
  margin: 0 auto 10px;
  border-left: 1px solid #e5e5e5;
}

#pagination-nav a,
#pagination-nav span {
  display: table-cell;
  min-width: 40px;
  height: 40px;
  text-align: center;
  border: 1px solid #e5e5e5;
  border-left: 0 none;
  margin-left: -1px;
  padding: 8px 10px;
  transition: 0.4s ease-out;
  transition-property: background, color;
}

#pagination-nav a:hover,
#pagination-nav a:focus {
  background-color: #eee;
}

#pagination-nav a:active,
#pagination-nav a.active {
  color: #fff;
  background-color: #09c;
}

#pagination-nav .mute {
  color: #999;
  cursor: not-allowed;
}
