/*!
 * This file is part of {@link https://github.com/MovLib MovLib}.
 *
 * Copyright © 2013-present {@link https://movlib.org/ MovLib}.
 *
 * MovLib is free software: you can redistribute it and/or modify it under the terms of the GNU Affero General Public
 * License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later
 * version.
 *
 * MovLib is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty
 * of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License along with MovLib.
 * If not, see {@link http://www.gnu.org/licenses/ gnu.org/licenses}.
 */

/**
 * Styling related to lists (<ul>, <ol>, and <dl>).
 *
 * @link http://engineering.appfolio.com/2012/11/16/css-architecture/
 * @author Richard Fussenegger <richard@fussenegger.info>
 *
 * @copyright © 2013 MovLib
 * @license http://www.gnu.org/licenses/agpl.html AGPL-3.0
 * @link https://movlib.org/
 * @since 0.0.1-dev
 */

ol,
ul {
  padding-left: 1em;
  list-style-position: outside;
}

ol ol {
  list-style-type: lower-alpha;
}

.hover-list,
.no-list {
  padding-left: 0;
  list-style: none;
}

.sidebar .page-content > ol,
.sidebar .page-content > ul {
  margin-top: 0;
}

/* ---------------------------------------------------------------------------------------------------------------------
 * Hover lists (`ul` and `ol`).
 * ------------------------------------------------------------------------------------------------------------------ */

.hover-list .hover-item {
  border-bottom: 0 none;
  display: block;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #656565;
  transition: background-color 0.4s ease-out;
  width: calc(100% + 40px);
}

.hover-list .hover-item:hover,
.hover-list .hover-item:focus {
  position: relative;
  z-index: 2;
  background-color: #e2f4fb;
}

.hover-list .hover-item .rating-user,
.hover-list .hover-item .rating-mean {
  float: right;
  margin-right: 20px;
}

.hover-list .hover-item .rating-mean {
  background: url("/asset/img/star.svg") center center no-repeat;
  background-size: 60px 60px; /* Important for older WebKit browsers! */
  color: #252525;
  font-size: 15px;
  font-weight: bold;
  height: 60px;
  letter-spacing: -1px;
  line-height: 63px;
  text-shadow: 0 0 5px #fff, 0 0 20px #fff;
  width: 60px;
}

/* ---------------------------------------------------------------------------------------------------------------------
 * Hover lists (`ul` and `ol`).
 * ------------------------------------------------------------------------------------------------------------------ */

/* This ensures that we have proper rows for the images in the grid. */
.s10 .grid-list .s3:nth-child(3n+1),
.s10 .grid-list .s2:nth-child(5n+1),
.s10 .grid-list .s1:nth-child(10n+1) {
  clear: left;
}

.grid-list img {
  display: block;
  margin-bottom: 5px;
  border: 1px solid #e5e5e5;
  opacity: 0.75;
  transition: 0.4s ease-in-out;
  transition-property: border-color, box-shadow, opacity;
}

.grid-list a:hover img,
.grid-list a:focus img {
  border-color: #09c;
  border-color: rgba(82, 168, 236, 0.5);
  opacity: 1;
  box-shadow: 0 0 10px rgba(82, 168, 236, 0.6);
}

/* ---------------------------------------------------------------------------------------------------------------------
 * Description lists
 * ------------------------------------------------------------------------------------------------------------------ */

dl {
  margin-bottom: 20px;
  margin-top: 0;
}

dt,
dd {
  line-height: 20px;
}

dt {
  font-weight: bold;
}

dd {
  margin-left: 10px;
}

.description dd {
  margin: 0 0 10px 0;
  padding-right: 20px;
}

.dl-big dt {
  border-bottom: 1px solid #e5e5e5;
  font-weight: 200;
  font-size: 24px;
  line-height: 1.1;
  margin: 40px 0 10px;
  padding-bottom: 5px;
}

.dl-big dt:first-child {
  margin-top: 0;
}

.dl-big dt a {
  display: block;
}

.dl-big dd {
  line-height: 1.82;
  margin-left: 0;
}
