/*!
 * This file is part of {@link https://github.com/MovLib MovLib}.
 *
 * Copyright © 2013-present {@link https://movlib.org/ MovLib}.
 *
 * MovLib is free software: you can redistribute it and/or modify it under the terms of the GNU Affero General Public
 * License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later
 * version.
 *
 * MovLib is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty
 * of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License along with MovLib.
 * If not, see {@link http://www.gnu.org/licenses/ gnu.org/licenses}.
 */

/**
 * Normalization of various styles across browsers and some default styles.
 *
 * @link https://github.com/necolas/normalize.css
 * @author Richard Fussenegger <richard@fussenegger.info>
 * @copyright © 2013–present, MovLib
 * @license http://www.gnu.org/licenses/agpl.html AGPL-3.0
 * @link https://movlib.org/
 * @since 0.0.1-dev
 */

/* ---------------------------------------------------------------------------------------------------------------------
 * Works for all modern browsers, much more natural to work with, support:
 *
 * Chrome (any)         : box-sizing
 * Firefox (any)        : -moz-box-sizing
 * Internet Explorer 8+ : box-sizing
 * Opera 8.5+           : box-sizing
 * Safari 3+            : -webkit-box-sizing
 * Safari 5.1+          : box-sizing
 *
 * @link http://paulirish.com/2012/box-sizing-border-box-ftw/ Paul Irish ftw!
 * @link http://css-tricks.com/box-sizing/
 * @link https://developer.mozilla.org/en-US/docs/CSS/box-sizing
 * ------------------------------------------------------------------------------------------------------------------ */

*,
*:before,
*:after,
input[type="search"] {
  box-sizing: border-box;
}

/* ---------------------------------------------------------------------------------------------------------------------
 * Correct `block` display not defined in IE 8/9.
 * ------------------------------------------------------------------------------------------------------------------ */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

/* ---------------------------------------------------------------------------------------------------------------------
 * Prevent text size adjust after orientation change, without disabling user zoom.
 * ------------------------------------------------------------------------------------------------------------------ */

html {
  min-width: 1024px; /* @todo Remove as soon as starting with responsiveness! */
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/* ---------------------------------------------------------------------------------------------------------------------
 * Address styling not present in IE 8/9, Safari 5, and Chrome.
 * ------------------------------------------------------------------------------------------------------------------ */

abbr[title] {
  cursor: help;
  border-bottom: 1px dotted;
}

/* ---------------------------------------------------------------------------------------------------------------------
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 * ------------------------------------------------------------------------------------------------------------------ */

sub,
sup {
  position: relative;
  line-height: 0;
  vertical-align: baseline;
}

sub {
  bottom: -2.625px;
}

sup {
  top: -5.25px;
}

/* ---------------------------------------------------------------------------------------------------------------------
 * Address style set to `bolder` in Firefox 4+, Safari 5, and Chrome.
 * ------------------------------------------------------------------------------------------------------------------ */

b,
strong {
  font-weight: bold;
}

/* ---------------------------------------------------------------------------------------------------------------------
 * Correct overflow displayed oddly in IE 9.
 * ------------------------------------------------------------------------------------------------------------------ */

svg:not(:root) {
  overflow: hidden;
}
