/*!
 * This file is part of {@link https://github.com/MovLib MovLib}.
 *
 * Copyright © 2013-present {@link https://movlib.org/ MovLib}.
 *
 * MovLib is free software: you can redistribute it and/or modify it under the terms of the GNU Affero General Public
 * License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later
 * version.
 *
 * MovLib is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty
 * of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License along with MovLib.
 * If not, see {@link http://www.gnu.org/licenses/ gnu.org/licenses}.
 */

/**
 * Styles exclusive to the movie page.
 *
 * @link http://engineering.appfolio.com/2012/11/16/css-architecture/
 * @author Franz Torghele <ftorghele.mmt-m2012@fh-salzburg.ac.at>
 * @author Markus Deutschl <mdeutschl.mmt-m2012@fh-salzburg.ac.at>
 * @copyright © 2013 MovLib
 * @license http://www.gnu.org/licenses/agpl.html AGPL-3.0
 * @link https://movlib.org/
 * @since 0.0.1-dev
 */

#movie-rating-help {
  float: right;
  margin-left: 4px;
  opacity: 0.5;
  transition: opacity 0.4s ease-in-out;
}

#movie-rating-help:focus,
#movie-rating-help:hover {
  opacity: 1;
}

#movie-rating {
  margin-bottom: 5px;
  width: 138px;
  height: 20px;
  position: relative;
}

#movie-show form + small {
  margin-bottom: 20px;
}

#movie-rating > div {
  position: absolute;
  top: 0;
  right: 18px;
  bottom: 0;
  left: 0;
}

#movie-rating .back span,
#movie-rating button {
  width: 24px;
  height: 20px;
  padding: 0;
  margin: 0;
  background: left 0 url("/asset/img/star.svg#i") no-repeat transparent;
  background-size: 20px 20px; /* Important for older WebKit browsers! */
  border: 0;
  float: left;
  overflow: visible; /* Important for Internet Explorer, otherwise the popup's aren't visible! */
}

@media (-webkit-min-device-pixel-ratio:0) {
  #movie-rating .back span,
  #movie-rating button {
    background-image: url("/asset/img/star-gray.svg");
  }
}

#movie-rating.focus button,
#movie-rating:hover button,
#movie-rating .rated {
  background-image: url("/asset/img/star.svg");
  opacity: 1;
}

#movie-rating button:focus ~ button,
#movie-rating button:hover ~ button,
#movie-rating button {
  opacity: 0;
  transition: opacity 0.4s ease-in-out;
}

#movie-poster {
  position: relative;
}

#movie-rating-mean {
  background: url("/asset/img/star.svg") no-repeat;
  background-size: 140px 140px; /* Important for older WebKit browsers! */
  bottom: -54px;
  color: #252525;
  font-size: 34px;
  font-weight: bold;
  height: 140px;
  left: -71.5px;
  letter-spacing: -1px;
  line-height: 148px;
  position: absolute;
  text-shadow: 0 0 5px #fff, 0 0 20px #fff;
  width: 140px;
  z-index: 1;
}

#movie-show #header .dtc {
  padding-bottom: 5px;
}

#movie-show #header .dtc:nth-child(odd) {
  padding-right: 10px;
}
