/*!
 * This file is part of {@link https://github.com/MovLib MovLib}.
 *
 * Copyright © 2013-present {@link https://movlib.org/ MovLib}.
 *
 * MovLib is free software: you can redistribute it and/or modify it under the terms of the GNU Affero General Public
 * License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later
 * version.
 *
 * MovLib is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty
 * of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License along with MovLib.
 * If not, see {@link http://www.gnu.org/licenses/ gnu.org/licenses}.
 */

/**
 * Styles exclusive to the stacktrace/error page.
 *
 * @link http://engineering.appfolio.com/2012/11/16/css-architecture/
 * @author Richard Fussenegger <richard@fussenegger.info>
 * @copyright © 2013 MovLib
 * @license http://www.gnu.org/licenses/agpl.html AGPL-3.0
 * @link https://movlib.org/
 * @since 0.0.1-dev
 */

#stacktrace-details {
  margin-top: 10px;
  font: 12px/18px Consolas, monospace;
}

#stacktrace-details .title {
  background-color: #333;
  color: #fff;
  font-family: Consolas, monospace;
  line-height: 25px;
  min-height: 33px;
  padding: 5px 10px;
}

#stacktrace-details table {
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: #fff;
  border-collapse: collapse;
  font: 12px/24px Consolas, monospace;
  color: #000;
}

#stacktrace-details td {
  padding: 3px 5px;
}

#stacktrace-details tr:first-child td {
  background-color: #ffc;
}

#stacktrace-details .line-number,
#stacktrace-details .file {
  color: rgba(0, 0, 0, 0.3);
  text-align: right;
}

#stacktrace-details line-number {
  width: 1%;
}

#stacktrace-details tr td:last-child {
  padding-left: 10px;
  padding-right: 10px;
}

#stacktrace-details .function {
  color: #00f;
}

#stacktrace-details var {
  background-color: transparent;
  border: 0;
  margin: 0;
  padding: 0;
}

#stacktrace-details var[title] {
  cursor: help;
}

#stacktrace-details .file {
  float: right;
}
