/*!
 * This file is part of {@link https://github.com/MovLib MovLib}.
 *
 * Copyright © 2013-present {@link https://movlib.org/ MovLib}.
 *
 * MovLib is free software: you can redistribute it and/or modify it under the terms of the GNU Affero General Public
 * License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later
 * version.
 *
 * MovLib is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty
 * of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License along with MovLib.
 * If not, see {@link http://www.gnu.org/licenses/ gnu.org/licenses}.
 */

/**
 * Button styles
 *
 * @link http://littlesparkvt.com/flatstrap/base-css.html#buttons
 * @link http://engineering.appfolio.com/2012/11/16/css-architecture/
 * @author Richard Fussenegger <richard@fussenegger.info>
 * @copyright © 2013 MovLib
 * @license http://www.gnu.org/licenses/agpl.html AGPL-3.0
 * @link https://movlib.org/
 * @since 0.0.1-dev
 */

.btn {
  display: inline-block;
  padding: 4px 12px;
  margin-bottom: 0;
  color: #555;
  text-align: center;
  vertical-align: middle;
  background-color: #efefef;
  border: 0;
  transition: 0.4s ease-out;
  transition-property: background-color, color, box-shadow;
  -webkit-appearance: none;
}

.btn.focus,
.btn:hover,
.btn:focus,
.btn:active,
.btn.active {
  background-color: #cfcfcf;
}

.btn.focus,
.btn:focus {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px #cfcfcf;
}

.btn-large {
  padding: 11px 19px;
  font-size: 17.5px;
}

.btn-small {
  padding: 2px 10px;
}

.btn-mini {
  padding: 0 6px;
  font-size: 10.5px;
}

.btn-primary.active,
.btn-warning.active,
.btn-danger.active,
.btn-success.active,
.btn-info.active,
.btn-inverse.active {
  color: rgba(255, 255, 255, 0.75);
}

.btn-primary,
.btn-info,
.btn-success,
.btn-warning,
.btn-danger,
.btn-inverse {
  /* Overwrite link default color once, prevent color changes upon state changes. */
  color: #fff !important;
}

.btn-primary {
  background-color: #3498db;
}

.btn-primary.focus,
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active {
  background-color: #256c9b;
}

.btn-primary.focus,
.btn-primary:focus {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(52, 152, 219, 0.6);
}

.btn-info {
  background-color: #49afcd;
}

.btn-info.focus,
.btn-info:hover,
.btn-info:focus,
.btn-info:active,
.btn-info.active {
  background-color: #32788d;
}

.btn-info.focus,
.btn-info:focus {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(73, 175, 205, 0.6);
}

.btn-success {
  background-color: #5bb75b;
}

.btn-success.focus,
.btn-success:hover,
.btn-success:focus,
.btn-success:active,
.btn-success.active {
  background-color: #3b773b;
}

.btn-success.focus,
.btn-success:focus {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(91, 183, 91, 0.6);
}

.btn-warning {
  background-color: #faa732;
}

.btn-warning.focus,
.btn-warning:hover,
.btn-warning:focus,
.btn-warning:active,
.btn-warning.active {
  background-color: #cc8829;
}

.btn-warning.focus,
.btn-warning:focus {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(250, 167, 50, 0.6);
}

.btn-danger {
  background-color: #da4f49;
}

.btn-danger.focus,
.btn-danger:hover,
.btn-danger:focus,
.btn-danger:active,
.btn-danger.active {
  background-color: #9a3834;
}

.btn-danger.focus,
.btn-danger:focus {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(218, 79, 73, 0.6);
}

.btn-inverse {
  background-color: #555;
}

.btn-inverse.focus,
.btn-inverse:hover,
.btn-inverse:focus,
.btn-inverse:active,
.btn-inverse.active {
  background-color: #000;
}

.btn-inverse.focus,
.btn-inverse:focus {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(85, 85, 85, 0.6);
}
