/*!
 * This file is part of {@link https://github.com/MovLib MovLib}.
 *
 * Copyright © 2013-present {@link https://movlib.org/ MovLib}.
 *
 * MovLib is free software: you can redistribute it and/or modify it under the terms of the GNU Affero General Public
 * License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later
 * version.
 *
 * MovLib is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty
 * of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License along with MovLib.
 * If not, see {@link http://www.gnu.org/licenses/ gnu.org/licenses}.
 */

/**
 * Define and import all fonts for our layout, this must be the very first within our CSS to work properly.
 *
 * @author Richard Fussenegger <richard@fussenegger.info>
 * @copyright © 2013–present, MovLib
 * @license http://www.gnu.org/licenses/agpl.html AGPL-3.0
 * @link https://movlib.org/
 * @since 0.0.1-dev
 */

/**
 * {@link http://www.webtype.com/info/articles/fonts-weights/ Best practices for using font-weights}
 *
 * [ font-weight: normal;
 *   100 - Extra Light or Ultra Light
 *   200 - Light or Thin
 *   300 - Book or Demi
 *   400 - Normal or Regular (same as font-weight: normal)
 *   500 - Medium
 * ]
 * [ font-weight: bold;
 *   600 - Semibold or Demibold
 *   700 - Bold (same as font-weight: bold)
 *   800 - Black, Extra Bold or Heavy
 *   900 - Extra Black, Fat, Poster or Ultra Black
 * ]
 *
 * @link https://developer.mozilla.org/en-US/docs/Web/CSS/font-weight
 */

@font-face {
  font-family: "Open Sans";
  src: url("/bower/open-sans-fontface/fonts/Light/OpenSans-Light.eot");
  src: url("/bower/open-sans-fontface/fonts/Light/OpenSans-Light.eot?#iefix") format("embedded-opentype"),
       url("/bower/open-sans-fontface/fonts/Light/OpenSans-Light.woff") format("woff"),
       url("/bower/open-sans-fontface/fonts/Light/OpenSans-Light.ttf") format("truetype"),
       url("/bower/open-sans-fontface/fonts/Light/OpenSans-Light.svg#OpenSansLight") format("svg")
  ;
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url("/bower/open-sans-fontface/fonts/LightItalic/OpenSans-LightItalic.eot");
  src: url("/bower/open-sans-fontface/fonts/LightItalic/OpenSans-LightItalic.eot?#iefix") format("embedded-opentype"),
       url("/bower/open-sans-fontface/fonts/LightItalic/OpenSans-LightItalic.woff") format("woff"),
       url("/bower/open-sans-fontface/fonts/LightItalic/OpenSans-LightItalic.ttf") format("truetype"),
       url("/bower/open-sans-fontface/fonts/LightItalic/OpenSans-LightItalic.svg#OpenSansLightItalic") format("svg")
  ;
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: "Open Sans";
  src: url("/bower/open-sans-fontface/fonts/Regular/OpenSans-Regular.eot");
  src: url("/bower/open-sans-fontface/fonts/Regular/OpenSans-Regular.eot?#iefix") format("embedded-opentype"),
       url("/bower/open-sans-fontface/fonts/Regular/OpenSans-Regular.woff") format("woff"),
       url("/bower/open-sans-fontface/fonts/Regular/OpenSans-Regular.ttf") format("truetype"),
       url("/bower/open-sans-fontface/fonts/Regular/OpenSans-Regular.svg#OpenSansRegular") format("svg")
  ;
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url("/bower/open-sans-fontface/fonts/Italic/OpenSans-Italic.eot");
  src: url("/bower/open-sans-fontface/fonts/Italic/OpenSans-Italic.eot?#iefix") format("embedded-opentype"),
       url("/bower/open-sans-fontface/fonts/Italic/OpenSans-Italic.woff") format("woff"),
       url("/bower/open-sans-fontface/fonts/Italic/OpenSans-Italic.ttf") format("truetype"),
       url("/bower/open-sans-fontface/fonts/Italic/OpenSans-Italic.svg#OpenSansItalic") format("svg")
  ;
  font-weight: normal;
  font-style: italic;
}

/*
@font-face {
  font-family: "Open Sans";
  src: url("/bower/open-sans-fontface/fonts/Semibold/OpenSans-Semibold.eot");
  src: url("/bower/open-sans-fontface/fonts/Semibold/OpenSans-Semibold.eot?#iefix") format("embedded-opentype"),
       url("/bower/open-sans-fontface/fonts/Semibold/OpenSans-Semibold.woff") format("woff"),
       url("/bower/open-sans-fontface/fonts/Semibold/OpenSans-Semibold.ttf") format("truetype"),
       url("/bower/open-sans-fontface/fonts/Semibold/OpenSans-Semibold.svg#OpenSansRegular") format("svg")
  ;
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url("/bower/open-sans-fontface/fonts/SemiboldItalic/OpenSans-SemiboldItalic.eot");
  src: url("/bower/open-sans-fontface/fonts/SemiboldItalic/OpenSans-SemiboldItalic.eot?#iefix") format("embedded-opentype"),
       url("/bower/open-sans-fontface/fonts/SemiboldItalic/OpenSans-SemiboldItalic.woff") format("woff"),
       url("/bower/open-sans-fontface/fonts/SemiboldItalic/OpenSans-SemiboldItalic.ttf") format("truetype"),
       url("/bower/open-sans-fontface/fonts/SemiboldItalic/OpenSans-SemiboldItalic.svg#OpenSansItalic") format("svg")
  ;
  font-weight: 600;
  font-style: italic;
}
*/

@font-face {
  font-family: "Open Sans";
  src: url("/bower/open-sans-fontface/fonts/Bold/OpenSans-Bold.eot");
  src: url("/bower/open-sans-fontface/fonts/Bold/OpenSans-Bold.eot?#iefix") format("embedded-opentype"),
       url("/bower/open-sans-fontface/fonts/Bold/OpenSans-Bold.woff") format("woff"),
       url("/bower/open-sans-fontface/fonts/Bold/OpenSans-Bold.ttf") format("truetype"),
       url("/bower/open-sans-fontface/fonts/Bold/OpenSans-Bold.svg#OpenSansRegular") format("svg")
  ;
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url("/bower/open-sans-fontface/fonts/BoldItalic/OpenSans-BoldItalic.eot");
  src: url("/bower/open-sans-fontface/fonts/BoldItalic/OpenSans-BoldItalic.eot?#iefix") format("embedded-opentype"),
       url("/bower/open-sans-fontface/fonts/BoldItalic/OpenSans-BoldItalic.woff") format("woff"),
       url("/bower/open-sans-fontface/fonts/BoldItalic/OpenSans-BoldItalic.ttf") format("truetype"),
       url("/bower/open-sans-fontface/fonts/BoldItalic/OpenSans-BoldItalic.svg#OpenSansItalic") format("svg")
  ;
  font-weight: bold;
  font-style: italic;
}

/*
@font-face {
  font-family: "Open Sans";
  src: url("/bower/open-sans-fontface/fonts/ExtraBold/OpenSans-ExtraBold.eot");
  src: url("/bower/open-sans-fontface/fonts/ExtraBold/OpenSans-ExtraBold.eot?#iefix") format("embedded-opentype"),
       url("/bower/open-sans-fontface/fonts/ExtraBold/OpenSans-ExtraBold.woff") format("woff"),
       url("/bower/open-sans-fontface/fonts/ExtraBold/OpenSans-ExtraBold.ttf") format("truetype"),
       url("/bower/open-sans-fontface/fonts/ExtraBold/OpenSans-ExtraBold.svg#OpenSansRegular") format("svg")
  ;
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url("/bower/open-sans-fontface/fonts/ExtraBoldItalic/OpenSans-ExtraBoldItalic.eot");
  src: url("/bower/open-sans-fontface/fonts/ExtraBoldItalic/OpenSans-ExtraBoldItalic.eot?#iefix") format("embedded-opentype"),
       url("/bower/open-sans-fontface/fonts/ExtraBoldItalic/OpenSans-ExtraBoldItalic.woff") format("woff"),
       url("/bower/open-sans-fontface/fonts/ExtraBoldItalic/OpenSans-ExtraBoldItalic.ttf") format("truetype"),
       url("/bower/open-sans-fontface/fonts/ExtraBoldItalic/OpenSans-ExtraBoldItalic.svg#OpenSansItalic") format("svg")
  ;
  font-weight: 800;
  font-style: italic;
}
*/


/* ==== ICONs ======================================================================================================= */


@font-face {
  font-family: MovLib;
  src: url("/asset/font/movlib/movlib.eot?20140321");
  src: url("/asset/font/movlib/movlib.eot?20140321#iefix") format("embedded-opentype"),
       url("/asset/font/movlib/movlib.woff?20140321") format("woff"),
       url("/asset/font/movlib/movlib.ttf?20140321") format("truetype"),
       url("/asset/font/movlib/movlib.svg?20140321#movlib") format("svg")
  ;
  font-weight: normal;
  font-style: normal;
}
