/*!
 * This file is part of {@link https://github.com/MovLib MovLib}.
 *
 * Copyright © 2013-present {@link https://movlib.org/ MovLib}.
 *
 * MovLib is free software: you can redistribute it and/or modify it under the terms of the GNU Affero General Public
 * License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later
 * version.
 *
 * MovLib is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty
 * of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License along with MovLib.
 * If not, see {@link http://www.gnu.org/licenses/ gnu.org/licenses}.
 */

/**
 * Global footer styles.
 *
 * @link http://engineering.appfolio.com/2012/11/16/css-architecture/
 * @author Richard Fussenegger <richard@fussenegger.info>
 * @copyright © 2013 MovLib
 * @license http://www.gnu.org/licenses/agpl.html AGPL-3.0
 * @link https://movlib.org/
 * @since 0.0.1-dev
 */

#f,
#f-team a {
  color: #c7c7c7;
}

#f {
  padding: 20px 0;
  font-size: 12px;
}

#f .s {
  padding: 20px 0;
  border-bottom: 1px solid #595959;
}

#f .last {
  border-bottom: 0;
}

#f-logos a,
#f-team a {
  opacity: 0.5;
  transition: opacity 0.4s ease-out;
}

#f-logos a {
  margin: 0 20px;
}

#f-team a:active,
#f-team a:focus,
#f-team a:hover,
#f-logos a:active,
#f-logos a:focus,
#f-logos a:hover {
  opacity: 1;
}

#f-team h3 {
  margin: 0;
  font-size: 14px;
}

#f-team a:active,
#f-team a:focus,
#f-team a:hover {
  border-bottom-color: #c7c7c7;
}

#f-team .ico-heart {
  transition: color 0.4s ease-out;
}

#f-team a:active .ico-heart,
#f-team a:focus .ico-heart,
#f-team a:hover .ico-heart {
  color: #c00;
}

#f .popup:hover:after {
  left: -20px;
  right: -70px;
}

#f .popup .content {
  left: -20px;
  width: 480px;
}

#f .popup .content:before {
  left: 20.5px;
}

#f .popup .content:after {
  left: 21.5px;
}

#f .popup .content h2 {
  font-size: 18px;
  margin-top: 0;
}

#f .popup .content small:first-of-type {
  border-bottom: 1px solid #c7c7c7;
  padding-bottom: 10px;
}

#f .popup .content a {
  margin-right: 10px;
  white-space: pre;
}

#f-language:before {
  margin-right: 5px;
}

#f-language {
  cursor: pointer;
}
