/*!
 * This file is part of {@link https://github.com/MovLib MovLib}.
 *
 * Copyright © 2013-present {@link https://movlib.org/ MovLib}.
 *
 * MovLib is free software: you can redistribute it and/or modify it under the terms of the GNU Affero General Public
 * License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later
 * version.
 *
 * MovLib is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty
 * of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License along with MovLib.
 * If not, see {@link http://www.gnu.org/licenses/ gnu.org/licenses}.
 */

/**
 * Form related styles.
 *
 * @link https://github.com/twbs/bootstrap/blob/master/less/forms.less
 * @author Richard Fussenegger <richard@fussenegger.info>
 * @copyright © 2013 MovLib
 * @license http://www.gnu.org/licenses/agpl.html AGPL-3.0
 * @link https://movlib.org/
 * @since 0.0.1-dev
 */

form :first-child {
  margin-top: 0;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  padding: 0;
  margin: 0;
  border: 0;
}

fieldset {
  padding: 0;
  margin: 0;
  border: 0;
}

button,
html button,
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
}

button,
select,
input[type="button"],
input[type="checkbox"],
input[type="file"],
input[type="radio"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
}

input[type="date"],
input[type="email"],
input[type="password"],
input[type="text"],
input[type="url"],
select,
textarea,
.inputhtml .content {
  display: block;
  width: 100%;
  min-height: 30px;
  padding: 7px 9px;
  margin-bottom: 15px;
}

label,
legend {
  display: block;
  margin-bottom: 5px;
}

input[type="checkbox"],
input[type="radio"] {
  margin: 4px 0 0;
  outline-offset: -8px;
}

input[type="search"] {
  -webkit-appearance: textfield;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

input,
select,
textarea,
.inputhtml .editor {
  display: block;
  vertical-align: middle;
  border: 1px solid #ccc;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.075) inset;
  transition: 0.2s linear;
  transition-property: border-color, box-shadow;
}

input:focus,
select:focus,
textarea:focus,
.inputhtml .focus {
  outline: 0;
}

input:focus,
select:focus,
textarea:focus,
.inputhtml .focus {
  border-color: rgba(82, 168, 236, 0.8);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(82, 168, 236, 0.6);
}

input:invalid:not(:empty),
.invalid,
textarea:invalid:not(:empty),
.inputhtml .invalid {
  border-color: #ee5f5b;
}

input:focus:invalid:focus:not(:empty),
.invalid:focus,
textarea:focus:invalid:focus:not(:empty),
.inputhtml .focus.invalid {
  border-color: rgba(233, 50, 45, 0.8);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(233, 50, 45, 0.6);
}

input[disabled],
select[disabled],
textarea[disabled],
option[disabled],
input[readonly],
select[readonly],
textarea[readonly],
.inputhtml .content[contenteditable="false"] {
  cursor: not-allowed;
  background: #eee;
}

/* Note that this only uses ONE colon at the beginning! */
:-moz-placeholder {
  font-weight: 200;
  color: #888;
  opacity: 1;
}

input:focus:-moz-placeholder,
textarea:focus:-moz-placeholder {
  color: #ccc;
}

/* Note that this uses TWO colons at the beginning! */
::-moz-placeholder {
  font-weight: 200;
  color: #888;
  opacity: 1;
}

input:focus::-moz-placeholder,
textarea:focus::-moz-placeholder {
  color: #ccc;
}

:-ms-input-placeholder {
  font-weight: 200;
  color: #888;
}

input:focus:-ms-input-placeholder,
textarea:focus:-ms-input-placeholder {
  color: #ccc;
}

::-webkit-input-placeholder {
  font-weight: 200;
  color: #888;
}

input:focus::-webkit-input-placeholder,
textarea:focus::-webkit-input-placeholder {
  color: #ccc;
}

textarea,
.inputhtml .content {
  z-index: 1;
  min-height: 150px; /* input has 30px, 30 * 5 = 150px (we want people to write a lot). */
  resize: vertical;
}

select:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #656565;
}

fieldset,
form .r,
form p {
  margin-top: 20px;
  margin-bottom: 20px;
}

option[value=""] {
  font-style: italic;
  color: #999;
}

/* ---------------------------------------------------------------------------------------------------------------------
 * Input image styles, also see the associated JavaScript module.
 * ------------------------------------------------------------------------------------------------------------------ */

.inputimage .alert {
  margin-top: 10px;
}

.btn.input-file {
  position: relative;
  padding-bottom: 3px;
  overflow: hidden;
}

.input-file input {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
}

.input-file ~ .btn {
  position: relative;
  z-index: 1;
}

.input-file.focus,
.input-file:hover {
  z-index: 2;
}

/* ---------------------------------------------------------------------------------------------------------------------
 * Radio and checkbox styles.
 * ------------------------------------------------------------------------------------------------------------------ */

.checkbox,
.radio {
  display: inline-block;
  min-height: 20px;
  padding-left: 20px;
}

.checkbox.inline,
.radio.inline {
  padding-top: 5px;
  margin-right: 25px;
  margin-bottom: 0;
  vertical-align: middle;
}

.checkbox input,
.radio input {
  float: left;
  margin-left: -20px;
}

/* ---------------------------------------------------------------------------------------------------------------------
 * Special formatting for help partials within forms.
 * ------------------------------------------------------------------------------------------------------------------ */

.form-help,
form .popup {
  float: right;
  margin: 0;
  cursor: help;
}

form .popup:hover:after {
  left: -70px;
  right: -20px;
}

form .popup .content:before,
form .popup .content:after {
  left: auto;
  margin-left: auto;
}

form .popup .content:before {
  right: 19px;
}

form .popup .content:after {
  right: 20px;
}

form .popup .content {
  width: 320px;
  right: -20px;
}

/* ---------------------------------------------------------------------------------------------------------------------
 * Ensure inputs and buttons have some margin to the right.
 * ------------------------------------------------------------------------------------------------------------------ */

.inputimage input,
.inputimage .btn,
.form-actions input,
.form-actions button {
  margin-right: 10px;
}
