/*!
 * This file is part of {@link https://github.com/MovLib MovLib}.
 *
 * Copyright © 2013-present {@link https://movlib.org/ MovLib}.
 *
 * MovLib is free software: you can redistribute it and/or modify it under the terms of the GNU Affero General Public
 * License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later
 * version.
 *
 * MovLib is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty
 * of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License along with MovLib.
 * If not, see {@link http://www.gnu.org/licenses/ gnu.org/licenses}.
 */

/**
 * Global header styles.
 *
 * @link http://engineering.appfolio.com/2012/11/16/css-architecture/
 * @author Richard Fussenegger <richard@fussenegger.info>
 * @copyright © 2013 MovLib
 * @license http://www.gnu.org/licenses/agpl.html AGPL-3.0
 * @link https://movlib.org/
 * @since 0.0.1-dev
 */

#header,
#header section h2,
#header .button,
#search,
#search-input,
#search .ico-search {
  height: 50px;
  padding: 0;
}

#header,
#header > .container:before {
  background-color: #fff;
}

#header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 999999;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
}

#header > .container {
  position: relative;
}

#header > .container:before {
  position: absolute;
  top: 0;
  right: -2000px;
  bottom: 0;
  left: -2000px;
  z-index: -1;
  content: "";
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
}


/* ==== Logo ======================================================================================================== */


#header h1 {
  margin-bottom: 0;
}

#logo {
  position: relative;
  top: -1px;
  display: inline-block;
  padding: 0;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  font-size: 28px;
  font-weight: bold;
  line-height: 50px;
  color: #656565;
  border-bottom: 0;
  transition: color 0.4s linear;
}

#logo:active
#logo:focus,
#logo:hover {
  color: #353535;
}

#logo img {
  position: relative;
  top: -4px;
}


/* ==== Main Navigation ============================================================================================= */


#header .span--9 {
  float: right;
  width: auto;
}

#header .expander {
  float: left;
}

#header .visible {
  position: relative;
  min-width: 50px;
  padding: 0 20px 0 25px;
  margin: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 50px;
  cursor: pointer;
  transition: 0.2s linear 0.1s;
  transition-property: color, background-color;
}

#header .open .visible:before,
#header .visible:before {
  position: absolute;
  bottom: -12px;
  left: 50%;
  margin-left: -6px;
  border: 6px solid transparent;
  border-top-color: #09c;
  content: "";
  opacity: 0;
  transition: opacity 0.2s linear 0.1s;
}

#header .visible:after {
  content: " ▾";
}

#header .focus .visible,
#header .open .visible,
#header .expander:hover .visible {
  color: #fff;
  background-color: #09c;
}

#header .open .visible:before,
#header .expander:hover .visible:before {
  opacity: 1;
}

#header .concealed {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: -2;
  padding: 20px 0;
  margin-right: -20px;
  background-color: #fff;
  opacity: 0;
  visibility: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  transition: 0.2s linear 0.2s;
  transition-property: opacity, top, visibility;
}

#header .open .concealed,
#header .expander:hover .concealed {
  top: 50px;
  opacity: 1;
  visibility: visible;
}

#header .concealed h3 {
  margin-top: 0;
}

#search-input,
#search .ico-search,
#header .button {
  font-size: 24px;
  line-height: 50px;
}

#user-nav {
  margin-left: 50px;
}

#header .button {
  width: 50px;
}

/* hack hack hack hack */
#user-avatar-for-now {
  width: 50px !important;
  height: 50px !important;
  cursor: pointer;
}


/* ==== SEARCH FORM ================================================================================================= */


#search {
  position: absolute;
  top: 0;
  right: 50px;
  margin: 0;
  overflow: hidden;
}

#search-input,
#search .ico-search {
  color: #fff;
  background-color: #252525;
  border: 0;
  box-shadow: none;
}

#search .ico-search {
  float: left;
  width: 50px;
}

#search .ico-search:focus {
  background-color: #09c;
}

#search-input {
  float: right;
  width: 0;
  font-weight: 200;
  transition: width 0.5s ease-in-out;
}

#search-input:focus,
#search .ico-search:focus + #search-input,
#search:focus #search-input,
#search:hover #search-input {
  width: 660px;
}


/* ==== BREADCRUMB ================================================================================================== */



