/*!
 * This file is part of {@link https://github.com/MovLib MovLib}.
 *
 * Copyright © 2013-present {@link https://movlib.org/ MovLib}.
 *
 * MovLib is free software: you can redistribute it and/or modify it under the terms of the GNU Affero General Public
 * License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later
 * version.
 *
 * MovLib is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty
 * of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License along with MovLib.
 * If not, see {@link http://www.gnu.org/licenses/ gnu.org/licenses}.
 */

/**
 * Global header styles.
 *
 * @link http://engineering.appfolio.com/2012/11/16/css-architecture/
 * @author Richard Fussenegger <richard@fussenegger.info>
 * @copyright © 2013 MovLib
 * @license http://www.gnu.org/licenses/agpl.html AGPL-3.0
 * @link https://movlib.org/
 * @since 0.0.1-dev
 */

#h,
#h section h2,
#h .btn,
#s,
#s input,
#s .ico {
  height: 50px;
  padding: 0;
}

#h,
#h > .c:before {
  background-color: #fff;
}

#h {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 999999;
}

#h > .c {
  position: relative;
}

#h > .c:before,
#h .concealed {
  border: 0 solid rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

#h > .c:before {
  position: absolute;
  top: 0;
  right: -2000px;
  bottom: 0;
  left: -2000px;
  z-index: -1;
  content: "";
  border-bottom-width: 1px;
}

/* ---------------------------------------------------------------------------------------------------------------------
 * Logo
 * ------------------------------------------------------------------------------------------------------------------ */

#h h1 {
  margin-bottom: 0;
}

#l {
  position: relative;
  top: -1px;
  display: inline-block;
  padding: 0;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  font-size: 28px;
  font-weight: bold;
  line-height: 50px;
  color: #656565;
  border-bottom: 0;
  transition: color 0.4s linear;
}

#l:active
#l:focus,
#l:hover {
  color: #353535;
}

#l img {
  position: relative;
  top: -4px;
}

/* ---------------------------------------------------------------------------------------------------------------------
 * Main navigation
 * ------------------------------------------------------------------------------------------------------------------ */

#h .s9 {
  float: right;
  width: auto;
}

#h .expander {
  float: left;
}

#h .clicker {
  cursor: pointer;
}

#h .visible,
.ico-settings:after,
.ico-user-add:after,
#h .open .visible:before,
#h .visible:before,
#h .concealed,
.ico-settings:before {
  transition: 0.2s linear 0.1s;
}

#h .visible {
  position: relative;
  min-width: 50px;
  padding: 0 20px 0 25px;
  margin: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 50px;
  transition-property: color, background-color;
}

.ico-settings:after,
.ico-user-add:after,
#h .open .visible:before,
#h .visible:before {
  position: absolute;
  bottom: -12px;
  left: 50%;
  margin-left: -6px;
  border: 6px solid transparent;
  border-top-color: #09c;
  content: "";
  opacity: 0;
  transition-property: opacity;
}

#h .visible:after {
  content: " ▾";
}

#h .focus .visible,
#h .open .visible,
#h .expander:hover .visible {
  color: #fff;
  background-color: #09c;
}

#h .open .visible:before,
#h .expander:hover .visible:before,
#user-nav:hover .ico-settings:after,
#user-nav:hover .ico-user-add:after {
  opacity: 1;
}

#h .concealed {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: -2;
  padding: 20px 0;
  margin-right: -20px;
  pointer-events: none;
  background-color: #fff;
  border-width: 0 1px 1px;
  opacity: 0;
  visibility: hidden;
  transition-property: opacity, top, visibility;
}

/**
 * Fix for Gecko (Firefox) bug, visibility hidden isn't really hidden and the elements can still receive pointer events.
 * We can't use display none because it would break the animation of the drop downs.
 */
#h:hover .concealed {
  pointer-events: auto;
}

#h .open .concealed,
#h .expander:hover .concealed {
  top: 50px;
  opacity: 1;
  visibility: visible;
}

#h .concealed h3,
#h #user-nav ul {
  margin-top: 0;
}

#s input,
#s .ico,
#h .btn,
.ico-settings:before {
  font-size: 24px;
  line-height: 50px;
}

#user-nav {
  margin-left: 50px;
}

#user-nav .concealed {
  left: auto;
}

#h .btn,
.ico-settings:before {
  width: 50px;
}

.ico-settings,
.ico-user-add {
  position: relative;
}

.ico-settings:before {
  position: absolute;
  right: 0;
  color: #fff;
  background-color: #09c;
  opacity: 0;
  transition-property: opacity;
}

#user-nav.focus .ico-settings:before,
#user-nav:active .ico-settings:before,
#user-nav:hover .ico-settings:before {
  opacity: 1;
}

#user-nav.focus .ico-user-add,
#user-nav:active .ico-user-add,
#user-nav:hover .ico-user-add {
  color: #fff;
  background-color: #09c;
}

.authenticated #user-nav .concealed:before {
  content: "My";
  position: absolute;
  top: 30px;
  left: 30px;
  font-weight: 200;
  font-size: 30px;
}

#user-nav .concealed img {
  position: absolute;
  bottom: 28px;
  left: 28px;
}

/* ---------------------------------------------------------------------------------------------------------------------
 * Search form styles
 * ------------------------------------------------------------------------------------------------------------------ */

#s {
  position: absolute;
  top: 0;
  right: 50px;
  margin: 0;
  overflow: hidden;
}

#s input,
#s .ico {
  color: #fff;
  background-color: #252525;
  border: 0;
  box-shadow: none;
}

#s .ico {
  float: left;
  width: 50px;
  transition: background-color 0.2s linear;
}

#s .ico:active,
#s .ico:focus,
#s .ico:hover {
  background-color: #09c;
}

#s input {
  float: right;
  width: 0;
  font-weight: 200;
  transition: width 0.5s ease-in-out;
}

#s input:focus,
#s .ico:focus + #s input,
#s:focus input,
#s:hover input {
  width: 660px;
}
