/*!
 * This file is part of {@link https://github.com/MovLib MovLib}.
 *
 * Copyright © 2013-present {@link https://movlib.org/ MovLib}.
 *
 * MovLib is free software: you can redistribute it and/or modify it under the terms of the GNU Affero General Public
 * License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later
 * version.
 *
 * MovLib is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty
 * of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License along with MovLib.
 * If not, see {@link http://www.gnu.org/licenses/ gnu.org/licenses}.
 */

/**
 * We are using a custom font created with the IcoMoon app that only contains the icons we really use.
 * Please have a look at the LICENSE.txt file in the font directory for more information.
 *
 * @author Dave Gandy
 * @copyright © 2013–present, Dave Gandy
 * @license http://scripts.sil.org/cms/scripts/page.php?site_id=nrsi&id=OFL SIL OFL 1.1
 * @link http://fontawesome.io/
 *
 * @author Daniel Bruce
 * @copyright © 2013–present, Daniel Bruce
 * @license http://creativecommons.org/licenses/by-sa/3.0/ CC BY-SA 3.0
 * @link http://www.entypo.com/
 *
 * @author Visual Idiot
 * @copyright © 2013–present, Visual Idiot
 * @license http://licence.visualidiot.com/ Custom
 * @link http://tridentdesign.com/broccoli-dry-icon-set/
 *
 * @author David Ferreira
 * @copyright © 2013–present, David Ferreira
 * @license http://creativecommons.org/licenses/by-sa/3.0/ CC BY-SA 3.0
 * @link http://www.wpzoom.com/freebies/
 *
 * @author WebHostingHub
 * @copyright © 2013–present, WebHostingHub
 * @license http://creativecommons.org/licenses/by/3.0/ CC BY 3.0
 * @link https://github.com/whhglyphs/webhostinghub-glyphs
 *
 * @link http://icomoon.io/
 * @author Richard Fussenegger <richard@fussenegger.info>
 * @author Markus Deutschl <mdeutschl.mmt-m2012@fh-salzburg.ac.at>
 * @copyright © 2013 MovLib
 * @license http://www.gnu.org/licenses/agpl.html AGPL-3.0
 * @link https://movlib.org/
 * @since 0.0.1-dev
 */

.ico:before {
  display: inline-block;
  width: 1em;
  font-family: MovLib;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  text-align: center;
  text-decoration: inherit;
  text-transform: none;
  vertical-align: baseline;
  font-variant: normal;
  speak: none;
}

.ico-star:before {
	content: "\e600";
}

.ico-lock:before {
	content: "\e601";
}

.ico-upload:before {
	content: "\e602";
}

.ico-align-left:before {
	content: "\e603";
}

.ico-align-center:before {
	content: "\e604";
}

.ico-align-right:before {
	content: "\e605";
}

.ico-bold:before {
	content: "\e606";
}

.ico-italic:before {
	content: "\e607";
}

.ico-image:before {
	content: "\e608";
}

.ico-ul:before {
	content: "\e609";
}

.ico-ol:before {
	content: "\e60a";
}

.ico-quotation:before {
	content: "\e60b";
}

.ico-unlink:before {
	content: "\e60c";
}

.ico-link:before {
	content: "\e60d";
}

.ico-indent-left:before {
	content: "\e60e";
}

.ico-indent-right:before {
	content: "\e60f";
}

.ico-heart:before {
	content: "\e610";
}

.ico-settings:before {
	content: "\e611";
}

.ico-languages:before {
	content: "\e612";
}

.ico-search:before {
	content: "\e613";
}

.ico-cc:before {
	content: "\e614";
}

.ico-cc-zero:before {
	content: "\e615";
}

.ico-user:before {
	content: "\e616";
}

.ico-notification:before {
	content: "\e617";
}

.ico-email:before {
	content: "\e618";
}

.ico-alert:before {
	content: "\e619";
}

.ico-view:before {
	content: "\e61a";
}

.ico-discussion:before {
	content: "\e61b";
}

.ico-edit:before {
	content: "\e61c";
}

.ico-history:before {
	content: "\e61d";
}

.ico-person:before {
	content: "\e61e";
}

.ico-help:before {
	content: "\e61f";
}

.ico-info:before {
	content: "\e620";
}

.ico-chevron-left:before {
	content: "\e621";
}

.ico-chevron-right:before {
	content: "\e622";
}

.ico-user-add:before {
	content: "\e623";
}

.ico-release:before {
	content: "\e624";
}

.ico-movie:before {
	content: "\e625";
}

.ico-series:before {
	content: "\e626";
}
