/*!
 * This file is part of {@link https://github.com/MovLib MovLib}.
 *
 * Copyright © 2013-present {@link https://movlib.org/ MovLib}.
 *
 * MovLib is free software: you can redistribute it and/or modify it under the terms of the GNU Affero General Public
 * License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later
 * version.
 *
 * MovLib is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty
 * of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License along with MovLib.
 * If not, see {@link http://www.gnu.org/licenses/ gnu.org/licenses}.
 */

/**
 * We are using a custom font created with the IcoMoon app that only contains the icons we really use.
 * Please have a look at the LICENSE.txt file in the font directory for more information.
 *
 * @author Dave Gandy
 * @copyright © 2013–present, Dave Gandy
 * @license http://scripts.sil.org/cms/scripts/page.php?site_id=nrsi&id=OFL SIL OFL 1.1
 * @link http://fontawesome.io/
 *
 * @author Daniel Bruce
 * @copyright © 2013–present, Daniel Bruce
 * @license http://creativecommons.org/licenses/by-sa/3.0/ CC BY-SA 3.0
 * @link http://www.entypo.com/
 *
 * @author Visual Idiot
 * @copyright © 2013–present, Visual Idiot
 * @license http://licence.visualidiot.com/ Custom
 * @link http://tridentdesign.com/broccoli-dry-icon-set/
 *
 * @author Sergey Shmidt
 * @copyright © 2013–present, Sergey Shmidt
 * @license http://creativecommons.org/licenses/by-sa/3.0/ CC BY-SA 3.0
 * @link http://dribbble.com/shots/927536-Linecons-48-outline-icons
 *
 * @link http://icomoon.io/
 * @author Richard Fussenegger <richard@fussenegger.info>
 * @author Markus Deutschl <mdeutschl.mmt-m2012@fh-salzburg.ac.at>
 * @copyright © 2013 MovLib
 * @license http://www.gnu.org/licenses/agpl.html AGPL-3.0
 * @link https://movlib.org/
 * @since 0.0.1-dev
 */

[class^="ico-"],
[class*=" ico-"] {
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  font-family: MovLib;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  text-align: center;
  text-transform: none;
  vertical-align: baseline;
}

.ico-star:before {
	content: "\e600";
}
.ico-lock:before {
	content: "\e601";
}
.ico-upload:before {
	content: "\e602";
}
.ico-search:before {
	content: "\e603";
}
.ico-cc:before {
	content: "\e604";
}
.ico-cc-zero:before {
	content: "\e605";
}
.ico-user:before {
	content: "\e606";
}
.ico-notification:before {
	content: "\e607";
}
.ico-email:before {
	content: "\e608";
}
.ico-alert:before {
	content: "\e609";
}
.ico-view:before {
	content: "\e60a";
}
.ico-discussion:before {
	content: "\e60b";
}
.ico-edit:before {
	content: "\e60c";
}
.ico-history:before {
	content: "\e60d";
}
.ico-person:before {
	content: "\e60e";
}
.ico-help:before {
	content: "\e60f";
}
.ico-info:before {
	content: "\e610";
}
.ico-chevron-left:before {
	content: "\e611";
}
.ico-chevron-right:before {
	content: "\e612";
}
.ico-menu:before {
	content: "\e613";
}
.ico-release:before {
	content: "\e614";
}
.ico-movie:before {
	content: "\e615";
}
.ico-series:before {
	content: "\e616";
}
