/*!
 * This file is part of {@link Expression prj is undefined on line 2, column 48 in Templates/Licenses/license-movlib.txt. Expression prj is undefined on line 2, column 66 in Templates/Licenses/license-movlib.txt.}.
 *
 * Copyright © 2013-present {@link Expression prj is undefined on line 4, column 52 in Templates/Licenses/license-movlib.txt. Expression prj is undefined on line 4, column 67 in Templates/Licenses/license-movlib.txt.}.
 *
 * Expression prj is undefined on line 6, column 20 in Templates/Licenses/license-movlib.txt. is free software: you can redistribute it and/or modify it under the terms of the GNU Affero General Public
 * License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later
 * version.
 *
 * Expression prj is undefined on line 10, column 20 in Templates/Licenses/license-movlib.txt. is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty
 * of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License along with Expression prj is undefined on line 13, column 104 in Templates/Licenses/license-movlib.txt..
 * If not, see {@link http://www.gnu.org/licenses/ gnu.org/licenses}.
 */

/**
 * Popup styles
 *
 * @author Richard Fussenegger <richard@fussenegger.info>
 * @copyright © 2013–present, MovLib
 * @license http://www.gnu.org/licenses/agpl.html AGPL-3.0
 * @link https://movlib.org/
 * @since 0.0.1-dev
 */

.popup-container {
  position: relative;
  outline: 0 none !important;
}

.popup:after,
.popup {
  display: block;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  transition: 0.3s ease;
  visibility: hidden;
  z-index: 10;
}

.popup {
  background-color: #fff;
  bottom: 0;
  right: auto; /* Important for Internet Explorer, otherwise the popup's are too much to the left! */
  left: -50%;
  margin: 0 0 6px 0;
  padding: 10px;
  max-width: 320px;
  color: #656565;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
}

.popup:after {
  border: 6px solid transparent;
  border-top-color: #fff;
  bottom: -12px;
  content: "";
  left: 50%;
  margin-left: -6px;
}

.popup-container:focus .popup,
.popup-container:hover .popup {
  bottom: 100%;
}

.popup-container:focus .popup,
.popup-container:hover .popup,
.popup-container:focus .popup:after,
.popup-container:hover .popup:after {
  opacity: 1;
  visibility: visible;
}
