/*!
 * This file is part of {@link Expression prj is undefined on line 2, column 48 in Templates/Licenses/license-movlib.txt. Expression prj is undefined on line 2, column 66 in Templates/Licenses/license-movlib.txt.}.
 *
 * Copyright © 2013-present {@link Expression prj is undefined on line 4, column 52 in Templates/Licenses/license-movlib.txt. Expression prj is undefined on line 4, column 67 in Templates/Licenses/license-movlib.txt.}.
 *
 * Expression prj is undefined on line 6, column 20 in Templates/Licenses/license-movlib.txt. is free software: you can redistribute it and/or modify it under the terms of the GNU Affero General Public
 * License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later
 * version.
 *
 * Expression prj is undefined on line 10, column 20 in Templates/Licenses/license-movlib.txt. is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty
 * of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License along with Expression prj is undefined on line 13, column 104 in Templates/Licenses/license-movlib.txt..
 * If not, see {@link http://www.gnu.org/licenses/ gnu.org/licenses}.
 */

/**
 * Basic page layout styles.
 *
 * @author Richard Fussenegger <richard@fussenegger.info>
 * @copyright © 2013–present, MovLib
 * @license http://www.gnu.org/licenses/agpl.html AGPL-3.0
 * @link https://movlib.org/
 * @since 0.0.1-dev
 */

body {
  padding: 0;
  margin: 0;
  overflow-y: scroll;
  background-color: #252525;
}

code,
pre,
var {
  background-color: #fbfbfb;
  border: 1px solid;
}

code,
var {
  padding: 2px 4px;
  white-space: nowrap;
  border-color: #d4d4d4;
}

pre {
  display: block;
  padding: 9.5px;
  margin: 0 0 10px;
  word-break: break-all;
  word-wrap: break-word;
  white-space: pre-wrap;
  border-color: #aeaeae;
}

var {
  color: #d14;
}

iframe {
  border: 0;
}

/* ---------------------------------------------------------------------------------------------------------------------
 * Remove descender space from `img` elements.
 *
 * @link http://h5bp.com/i/440
 * ------------------------------------------------------------------------------------------------------------------ */

img {
  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic;
}

img.inline {
  vertical-align: baseline;
  margin-right: 5px;
}

/* ---------------------------------------------------------------------------------------------------------------------
 * Hidden elements
 * ------------------------------------------------------------------------------------------------------------------ */

[hidden],
.hidden,
#js .jshidden,
#nojs .nojshidden {
  display: none !important;
  visibility: hidden;
}
