/*!
 * This file is part of {@link https://github.com/MovLib MovLib}.
 *
 * Copyright © 2013-present {@link http://movlib.org/ MovLib}.
 *
 * MovLib is free software: you can redistribute it and/or modify it under the terms of the GNU Affero General Public
 * License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later
 * version.
 *
 * MovLib is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty
 * of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License along with MovLib.
 * If not, see {@link http://www.gnu.org/licenses/ gnu.org/licenses}.
 */

/**
 * Base consists of reset rules and element defaults.
 *
 * Target browsers:
 *   - Apple Safari ??
 *   - Microsoft Internet Explorer 9+ (support for 8 and maybe 7 via polyfills and additional stylesheets)
 *   - Mozilla Firefox 5+
 *   - Google Chrome 18+
 *   - Opera Desktop 11+
 *
 * @link http://engineering.appfolio.com/2012/11/16/css-architecture/
 * @author Richard Fussenegger <richard@fussenegger.info>
 * @copyright © 2013–present, MovLib
 * @license http://www.gnu.org/licenses/agpl.html AGPL-3.0
 * @link http://movlib.org/
 * @since 0.0.1-dev
 */

/**
 * Color table
 * ===========
 * MovLib is mainly using shades of gray (similarity to book series is not intended), but there are a few colors that
 * we support as well. Please always refer to this color table and only choose colors from here (this is not true for
 * gray; you may alter the shade to fit the need)!
 *
 * Shades of gray
 * ==============
 *
 * 01[2]34[5]67[8]9a[b]cd[e]f
 *
 * --- dark ---
 * #222
 *   #333
 *   #3b3b3b
 *   #484848
 * #555
 *   #626262
 *   #6e6e6e
 *   #7b7b7b
 * #888
 *   #959595
 *   #a1a1a1
 *   #aeaeae
 * #bbb
 *   #c8c8c8
 *   #d4d4d4
 * #eee
 *   #e1e1e1
 *   #fbfbfb
 * -- bright --
 *
 * Colors are lent from the Android color code: https://developer.android.com/design/style/color.html
 * ==================================================================================================
 * Blue   : #09c (dark) : #33b5e5 (bright)
 * Purple : #93c (dark) : #a6c (bright)
 * Green  : #690 (dark) : #9c0 (bright)
 * Yellow : #f80 (dark) : #fb3 (bright)
 * Red    : #c00 (dark) : #f44 (bright)
 *
 * Logo colors
 * ===========
 * @todo Extract all colors from SVG
 */

@font-face {
  font-family: "Open Sans";
  src: url("/assets/font/open-sans/OpenSans-Light-webfont.eot");
  src: url("/assets/font/open-sans/OpenSans-Light-webfont.eot?#iefix") format("embedded-opentype"),
       url("/assets/font/open-sans/OpenSans-Light-webfont.woff") format("woff"),
       url("/assets/font/open-sans/OpenSans-Light-webfont.ttf") format("truetype"),
       url("/assets/font/open-sans/OpenSans-Light-webfont.svg#OpenSansLight") format("svg");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url("/assets/font/open-sans/OpenSans-LightItalic-webfont.eot");
  src: url("/assets/font/open-sans/OpenSans-LightItalic-webfont.eot?#iefix") format("embedded-opentype"),
       url("/assets/font/open-sans/OpenSans-LightItalic-webfont.woff") format("woff"),
       url("/assets/font/open-sans/OpenSans-LightItalic-webfont.ttf") format("truetype"),
       url("/assets/font/open-sans/OpenSans-LightItalic-webfont.svg#OpenSansLightItalic") format("svg");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Open Sans";
  src: url("/assets/font/open-sans/OpenSans-Regular-webfont.eot");
  src: url("/assets/font/open-sans/OpenSans-Regular-webfont.eot?#iefix") format("embedded-opentype"),
       url("/assets/font/open-sans/OpenSans-Regular-webfont.woff") format("woff"),
       url("/assets/font/open-sans/OpenSans-Regular-webfont.ttf") format("truetype"),
       url("/assets/font/open-sans/OpenSans-Regular-webfont.svg#OpenSansRegular") format("svg")
  ;
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url("/assets/font/open-sans/OpenSans-Italic-webfont.eot");
  src: url("/assets/font/open-sans/OpenSans-Italic-webfont.eot?#iefix") format("embedded-opentype"),
       url("/assets/font/open-sans/OpenSans-Italic-webfont.woff") format("woff"),
       url("/assets/font/open-sans/OpenSans-Italic-webfont.ttf") format("truetype"),
       url("/assets/font/open-sans/OpenSans-Italic-webfont.svg#OpenSansItalic") format("svg");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Open Sans";
  src: url("/assets/font/open-sans/OpenSans-Bold-webfont.eot");
  src: url("/assets/font/open-sans/OpenSans-Bold-webfont.eot?#iefix") format("embedded-opentype"),
       url("/assets/font/open-sans/OpenSans-Bold-webfont.woff") format("woff"),
       url("/assets/font/open-sans/OpenSans-Bold-webfont.ttf") format("truetype"),
       url("/assets/font/open-sans/OpenSans-Bold-webfont.svg#OpenSansRegular") format("svg")
  ;
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url("/assets/font/open-sans/OpenSans-BoldItalic-webfont.eot");
  src: url("/assets/font/open-sans/OpenSans-BoldItalic-webfont.eot?#iefix") format("embedded-opentype"),
       url("/assets/font/open-sans/OpenSans-BoldItalic-webfont.woff") format("woff"),
       url("/assets/font/open-sans/OpenSans-BoldItalic-webfont.ttf") format("truetype"),
       url("/assets/font/open-sans/OpenSans-BoldItalic-webfont.svg#OpenSansItalic") format("svg");
  font-weight: 700;
  font-style: italic;
}

/*
  Works for all modern browsers, much more natural to work with, support:

  Chrome (any)         : box-sizing
  Firefox (any)        : -moz-box-sizing
  Internet Explorer 8+ : box-sizing
  Opera 8.5+           : box-sizing
  Safari 3+            : -webkit-box-sizing
  Safari 5.1+          : box-sizing

  @link http://paulirish.com/2012/box-sizing-border-box-ftw/ Paul Irish ftw!
  @link http://css-tricks.com/box-sizing/
  @link https://developer.mozilla.org/en-US/docs/CSS/box-sizing
*/
*,
:before,
:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
}

/* Always display vertical scrollbar, avoids different screen width upon page changes. */
html {
  overflow-y: scroll;
}

body {
  margin: 0;
}

html,
input,
button,
select,
textarea,
table {
  -webkit-text-size-adjust: 100%;
     -moz-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  background-color: #fff;
  color: #656565;
  text-rendering: geometricPrecision;
/*
  About the MovLib font stack
  Our main goal is it to ensure users of Microsoft and Apple computers have the best viewing pleasure. Why not Linux you
  may ask. The reason is pretty easy, Linux users are most of the time very advanced users who 1) set up their fonts as
  they like it 2) do not care about the font that is used at all. In general, Linux users do not find a font stack that
  suits their needs on any popular website. The problem is, that there is no common ground to include fonts. Most users
  will have Arial installed if they are using a desktop Linux system or a browser that is capable of downloading a font
  that is specified via the @font-face rule.

  - Open Sans: The default font at MovLib. It is free and open source and deserves our support. We use the complete
    character set that is available along with Open Sans, to ensure that most text will be rendered with it.
  - Arial: Main fallback font for browsers who do not support the @font-face rule. Should be installed on nearly every
    system on this planet.
  - Meiryo: Very beautiful Japanese font that was released along Windows Vista and Office Mac 2008. More info can be
    found here: http://en.wikipedia.org/wiki/Meiryo
  - Microsoft YaHei: Beautiful Chinese font that was release along Windows Vista and is available as update for Windows
    XP systems. More info can be found here: http://en.wikipedia.org/wiki/Microsoft_YaHei
  - sans-serif: Fallback if everything else fails.

  More interesting links:
  - http://www.markboulton.co.uk/journal/five-simple-steps-to-better-typography-part-4
  - http://www.smashingmagazine.com/2013/05/17/typographic-design-patterns-practices-case-study-2013/
*/
  font: 500 14px/1.46 "Open Sans", Arial, Meiryo, "Microsoft Yahei", "MS Yahei", Yahei, sans-serif;
}

/* Ensure Chinese strings are displayed with the correct font choice. */
[lang="zh"] {
  font-family: "Open Sans", Arial, "Microsoft Yahei", "MS Yahei", Yahei, Meiryo, sans-serif;
}

html,
body {
  background-color: #252525;
  height: 100%;
}

pre,
code,
kbd,
samp,
tt,
var {
  font: normal 12px/1 Consolas, monospace, serif;
}

::-moz-selection {
  background: #09c;
  color: #fff;
}

::selection {
  background: #09c;
  color: #fff;
}

a {
  -webkit-transition: 0.4s ease-out;
     -moz-transition: 0.4s ease-out;
       -o-transition: 0.4s ease-out;
          transition: 0.4s ease-out;
  -webkit-transition-property: color, border-color;
     -moz-transition-property: color, border-color;
       -o-transition-property: color, border-color;
          transition-property: color, border-color;
  border-bottom: 1px solid transparent;
  color: #09c;
  text-decoration: none;
}

a:hover,
a:focus {
  border-bottom-color: #09c;
}

a:focus {
  outline-offset: -2px;
  outline: 1px dotted #656565;
  outline: 5px auto -webkit-focus-ring-color;
}

a:hover,
a:active,
a.active {
  outline: 0;
}

a.active[href="#"] {
  cursor: default;
}

abbr[title] {
  cursor: help;
  border-bottom: 1px dotted #656565;
}

dfn {
  font-style: italic;
}

b,
strong {
  font-weight: 700;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 300;
  text-rendering: optimizeLegibility;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #353535;
  margin: 10px 0;
}

h1 small,
h2 small,
h3 small,
h4 small,
h5 small,
h6 small {
  color: #656565;
  line-height: 1;
}

h1,
h2,
h3 {
  line-height: 40px;
}

h1 {
  font-size: 38.5px;
}

h2 {
  font-size: 31.5px;
}

h3 {
  font-size: 24.5px;
}

h4 {
  font-size: 17.5px;
}

h6 {
  font-size: 11.9px;
}

h1 small {
  font-size: 24.5px;
}

h2 small {
  font-size: 17.5px;
}

h3 small {
  font-size: 14px;
}

h4 small {
  font-size: 14px;
}

p {
  margin: 1.39em 0;
}

hr {
  border: 0;
  border-top: 1px solid #e5e5e5;
  display: block;
  height: 1px;
  margin: 40px 0;
  padding: 0;
}

img {
  -ms-interpolation-mode: bicubic;
  height: auto;
}

img,
object {
  border: 0;
  max-width: 100%;
  vertical-align: middle;
  width: auto\9;
}

button,
html button,
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

button,
label,
select,
input[type="button"],
input[type="reset"],
input[type="submit"],
input[type="radio"],
input[type="checkbox"] {
  cursor: pointer;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="checkbox"],
input[type="ratio"] {
  margin: 4px 0 0;
  line-height: normal;
}

input[type="search"] {
  -webkit-appearance: textfield;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

input {
  -webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.075) inset;
     -moz-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.075) inset;
          box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.075) inset;
  -webkit-transition: 0.2s linear;
     -moz-transition: 0.2s linear;
       -o-transition: 0.2s linear;
          transition: 0.2s linear;
  -webkit-transition-property: border, box-shadow;
     -moz-transition-property: border, box-shadow;
       -o-transition-property: border, box-shadow;
          transition-property: border, box-shadow;
  border: 1px solid #ccc;
  display: inline-block;
  vertical-align: middle;
}

input:focus {
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(82, 168, 236, 0.6);
     -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(82, 168, 236, 0.6);
          box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(82, 168, 236, 0.6);
  border-color: #52a8ec;
  border-color: rgba(82, 168, 236, 0.8);
  outline: 0;
}

input:invalid:not(:empty),
input[aria-invalid] {
  border-color: #ee5f5b;
  outline: 0;
}

input:focus:invalid:focus:not(:empty),
input[aria-invalid]:focus {
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(233, 50, 45, 0.6);
     -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(233, 50, 45, 0.6);
          box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(233, 50, 45, 0.6);
  border-color: #e9322d;
  border-color: rgba(233, 50, 45, 0.8);
  outline: 0;
}

input[disabled],
select[disabled],
textarea[disabled],
input[readonly],
select[readonly],
textarea[readonly] {
  cursor: not-allowed;
  background: #eee;
}

sub,
sup {
  font-size: 10.5px;
}

sub,
sup {
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -2.625px;
}

sup {
  top: -5.25px;
}

code,
pre,
var {
  background-color: #fbfbfb;
  border: 1px solid;
}

code,
var {
  border-color: #d4d4d4;
  padding: 2px 4px;
  white-space: nowrap;
}

pre {
  border-color: #aeaeae;
  display: block;
  margin: 0 0 10px;
  padding: 9.5px;
  white-space: pre-wrap;
  word-break: break-all;
  word-wrap: break-word;
}

var {
  color: #d14;
}

:-moz-placeholder {
  color: #888;
  font-weight: 300;
  opacity: 1;
}

input:focus:-moz-placeholder {
  color: #ccc;
}

::-moz-placeholder {
  color: #888;
  font-weight: 300;
  opacity: 1;
}

input:focus::-moz-placeholder {
  color: #ccc;
}

:-ms-input-placeholder {
  color: #888;
  font-weight: 300;
}

input:focus:-ms-input-placeholder {
  color: #ccc;
}

::-webkit-input-placeholder {
  color: #888;
  font-weight: 300;
}

input:focus::-webkit-input-placeholder {
  color: #ccc;
}

/* Microsoft Internet Explorer specific styles -------------------------------------------------------------------------
 *
 * These styles are for modern Internet Explorers. We use conditional stylesheets for the old ones.
 */
@-ms-viewport {
  width: device-width;
}
