/*!
 * This file is part of {@link https://github.com/MovLib MovLib}.
 *
 * Copyright © 2013-present {@link http://movlib.org/ MovLib}.
 *
 * MovLib is free software: you can redistribute it and/or modify it under the terms of the GNU Affero General Public
 * License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later
 * version.
 *
 * MovLib is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty
 * of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License along with MovLib.
 * If not, see {@link http://www.gnu.org/licenses/ gnu.org/licenses}.
 */

/**
 * Layout is for positioning of site-wide elements as well as generic layout helpers like grid systems.
 *
 * @link http://engineering.appfolio.com/2012/11/16/css-architecture/
 * @author Richard Fussenegger <richard@fussenegger.info>
 * @copyright © 2013–present, MovLib
 * @license http://www.gnu.org/licenses/agpl.html AGPL-3.0
 * @link http://movlib.org/
 * @since 0.0.1-dev
 */

.container {
  margin: 0 auto;
  width: 940px;
}

.row {
  margin-left: -20px;
}

.span {
  float: left;
  margin-left: 20px;
  min-height: 1px;
}

.span--1 {
  width: 60px;
}

.span--2 {
  width: 140px;
}

.span--3 {
  width: 220px;
}

.span--4 {
  width: 300px;
}

.span--5 {
  width: 380px;
}

.span--6 {
  width: 460px;
}

.span--7 {
  width: 540px;
}

.span--8 {
  width: 620px;
}

.span--9 {
  width: 700px;
}

.span--10 {
  width: 780px;
}

.span--11 {
  width: 860px;
}

.span--12 {
  width: 940px;
}

.offset--1 {
  margin-left: 100px;
}

.offset--2 {
  margin-left: 180px;
}

.offset--3 {
  margin-left: 260px;
}

.offset--4 {
  margin-left: 340px;
}

.offset--5 {
  margin-left: 420px;
}

.offset--6 {
  margin-left: 500px;
}

.offset--7 {
  margin-left: 580px;
}

.offset--8 {
  margin-left: 660px;
}

.offset--9 {
  margin-left: 740px;
}

.offset--10 {
  margin-left: 820px;
}

.offset--11 {
  margin-left: 900px;
}

.offset--12 {
  margin-left: 980px;
}

/* Generic classes -------------------------------------------------------------------------------------------------- */

.checkbox,
.radio {
  min-height: 20px;
  padding-left: 20px;
}

.checkbox input[type="checkbox"],
.radio input[type="radio"] {
  float: left;
  margin-left: -20px;
}

.input--block-level {
  display: block;
  margin-bottom: 15px;
  min-height: 30px;
  padding: 7px 9px;
  width: 100%;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-justify {
  text-align: justify;
}

.text-hide {
  background-color: transparent;
  border: 0;
  color: transparent;
  font: 0/0 a;
}

.text-small {
  font-size: 0.82em;
}

.clear-fix:before,
.clear-fix:after,
.row:before,
.row:after {
  content: "";
  display: table;
  line-height: 0;
}

.clear-fix:after,
.row:after {
  clear: both;
}

.clear-left {
  clear: left;
}

.clear-right {
  clear: right;
}

.hidden,
.visible-phone,
.visible-tablet,
.hidden-desktop {
  display: none;
  visibility: hidden;
}

.visible-desktop {
  display: inherit;
}

.inline {
  display: inline-block;
}

.lead {
  font-size: 21px;
  line-height: 26.25px;
}

.hero {
  font-size: 38.5px;
  font-weight: bold;
  line-height: 77px;
}

.lead,
.lead h1,
.lead h2,
.lead h3 {
  color: #fff;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
}

.menuitem--delete {
  color: #c00;
}

.menuitem:active,
.menuitem.active {
  color: #555;
  border-bottom-color: transparent;
}

.no-list {
  list-style: none;
  padding-left: 0;
}

.pull-right {
  float: right;
}

.pull-left {
  float: left;
}

.serif {
  font-family: georgia, times, serif;
  text-rendering: optimizeLegibility;
}

.transition {
  -webkit-transition: all 0.4s ease-out;
     -moz-transition: all 0.4s ease-out;
       -o-transition: all 0.4s ease-out;
          transition: all 0.4s ease-out;
}

.prettyprint {
  margin-bottom: 20px;
}

.scrollable {
  max-height: 340px;
  overflow-y: scroll;
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.well {
  background-color: #f5f5f5;
  border: 1px solid #e3e3e3;
  margin-bottom: 20px;
  min-height: 20px;
  padding: 19px;
}

.well--large {
  padding: 24px;
}

.well--small {
  padding: 9px;
}

/* Header ----------------------------------------------------------------------------------------------------------- */

#header {
  background-color: #fff;
  padding: 20px 0;
  position: relative;
  z-index: 2;
}

#sticky-header {
  -webkit-box-shadow: 0 0 5px 0 #888;
     -moz-box-shadow: 0 0 5px 0 #888;
          box-shadow: 0 0 5px 0 #888;
  background-color: rgba(239, 239, 239, 0.9);
  border-bottom-color: rgba(221, 221, 221, 0.9);
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1;
  display: none !important;
  visibility: hidden !important;
}

.sticky-header__span {
  margin-bottom: 5px;
  padding-top: 5px;
}

/* Logo ------------------------------------------------------------------------------------------------------------- */

#logo {
  padding: 0 0 0 80px;
  margin: 0;
  line-height: 50px;
  height: 64px;
  font-weight: 700;
  font-size: 38.5px;
  color: #333;
  border-bottom: 0;
  background: url(/assets/img/logo/64.png) no-repeat;
}

#logo small {
  color: #555;
  display: block;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 0.3px;
  line-height: 1;
  margin-left: 1px;
}

.logo-small {
  background: url(/assets/img/logo/32.png) no-repeat 32px center;
  border-bottom: 0;
  color: #333 !important; /* Overwrite any state colors! */
  font-size: 26px;
  font-weight: bold;
  height: 32px;
  line-height: 32px;
  margin: 0;
  padding: 0 0 0 80px;
}

/* Search ----------------------------------------------------------------------------------------------------------- */

.search-header {
  height: 40px;
  width: 100%;
  position: relative;
}

.search-header input,
.search-header button {
  font-size: 20px;
  line-height: 38px;
  height: 36px;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline;
}

.search-header input {
  background-color: #fbfbfb;
  padding-left: 8px;
  width: 100%;
}

.search-header button {
  background: none;
  border: 0;
  color: #aeaeae;
  width: 36px;
  position: absolute;
  top: 0;
  right: 0;
}

.search-header button:hover,
.search-header button:focus {
  color: #333;
}

.search-sticky-header input,
.search-sticky-header button {
  height: 30px;
  margin: 0;
}

.search-sticky-header input {
  border-right-color: transparent;
  max-width: 400px;
  padding: 1px 5px;
  width: 100%;
}

/* Firefox specific styling: Ensure icon is placed at the same position as in all other browsers. */
@-moz-document url-prefix() {
  .search-header input[type="search"] {
    position: relative;
    top: -2px;
  }
}

/* Main + User navigation ------------------------------------------------------------------------------------------- */

#nav-main {
  color: #c8c8c8;
  margin-top: 7px;
}

#nav-main .menuitem,
#nav-main .menuitem:visited,
#nav-user .menuitem,
#nav-user .menuitem:visited {
  border-bottom: 0;
  color: #888;
}

#nav-main .menuitem:hover,
#nav-main .menuitem:focus,
#nav-main .menuitem:active,
#nav-main .menuitem.active,
#nav-user .menuitem:hover,
#nav-user .menuitem:focus,
#nav-user .menuitem:active,
#nav-user .menuitem.active {
  color: #333;
}

#nav-main span {
  margin: 0 5px;
}

#nav-user .menuitem {
  margin-left: 10px;
}

/* Secondary navigation --------------------------------------------------------------------------------------------- */

#nav-secondary .icon,
#nav-secondary .menuitem {
  -webkit-transition: color, background-color 0.4s ease-out;
     -moz-transition: color, background-color 0.4s ease-out;
       -o-transition: color, background-color 0.4s ease-out;
          transition: color, background-color 0.4s ease-out;
}

#nav-secondary .icon {
  color: #ccc;
  float: right;
  margin-right: -6px;
  margin-top: 2px;
}

#nav-secondary .menuitem {
  border: 1px solid #e5e5e5;
  display: block;
  margin-bottom: -1px;
  padding: 9px 15px;
}

#nav-secondary .menuitem:focus,
#nav-secondary .menuitem:hover {
  background-color: #f5f5f5;
}

#nav-secondary .menuitem:focus .icon,
#nav-secondary .menuitem:hover .icon {
  color: #949494;
}

#nav-secondary .menuitem.active {
  background-color: #09c;
}

#nav-secondary .menuitem--delete.active {
  background-color: #c00;
}

#nav-secondary .menuitem.active,
#nav-secondary .menuitem.active .icon {
  color: #fff;
}

/* Breadcrumb ------------------------------------------------------------------------------------------------------- */

#breadcrumb {
  background-color: #fff;
  font-size: 12px;
  padding: 5px 0;
}

/* Content ---------------------------------------------------------------------------------------------------------- */

#content {
  background-color: #fff;
  padding-bottom: 40px;
  min-height: 500px;
}

#content__header {
  background-color: #252525;
  margin-bottom: 40px;
}

#content__header__title {
  color: #fff;
  font-size: 42px;
  line-height: 63px;
  margin: 0;
  padding: 20px 0 30px;
}

/* Footer ----------------------------------------------------------------------------------------------------------- */

#footer {
  clear: both;
  color: #c7c7c7;
  font-size: 12px;
  padding-top: 40px;
}

#footer h3 {
  color: #fff;
  font-size: 20.6px;
  line-height: 30px;
  margin-top: 0;
}

#footer ul {
  margin-bottom: 0;
}

#footer li {
  line-height: 24px;
}

#footer-copyright {
  margin-top: 40px;
}

#footer-copyright .container {
  border-top: 1px solid #595959;
  padding: 40px 0 120px;
}
