/*!
 * This file is part of {@link https://github.com/MovLib MovLib}.
 *
 * Copyright © 2013-present {@link http://movlib.org/ MovLib}.
 *
 * MovLib is free software: you can redistribute it and/or modify it under the terms of the GNU Affero General Public
 * License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later
 * version.
 *
 * MovLib is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty
 * of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License along with MovLib.
 * If not, see {@link http://www.gnu.org/licenses/ gnu.org/licenses}.
 */

/**
 * Generic classes that can be used globally to style things.
 *
 * @link http://engineering.appfolio.com/2012/11/16/css-architecture/
 * @author Richard Fussenegger <richard@fussenegger.info>
 * @copyright © 2013–present, MovLib
 * @license http://www.gnu.org/licenses/agpl.html AGPL-3.0
 * @link http://movlib.org/
 * @since 0.0.1-dev
 */


/* ==== FORMS ======================================================================================================= */


.checkbox,
.radio {
  min-height: 20px;
}

.checkbox label,
.radio label {
  display: inline;
  margin-right: 25px;
}

.input--block-level {
  display: block;
  margin-bottom: 15px;
  min-height: 30px;
  padding: 7px 9px;
  width: 100%;
}

.form-help {
  margin: 0;
  float: right;
  position: relative;
}

.form-help-text:before,
.form-help-text {
  display: block;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  transition: 0.3s ease;
  visibility: hidden;
  z-index: 999999999; /* Even go over our sticky header! */
}

.form-help-text:before {
  border: 6px solid transparent;
  border-top-color: #252525;
  content: "";
  right: 34px;
  bottom: -12px;
}

.form-help-text {
  background-color: #252525;
  bottom: 50%;
  box-shadow: 0 4px 8px #656565;
  color: #fff;
  padding: 8px 10px;
  right: -32px;
  text-shadow: 0 -1px 0 #000;
  width: 320px;
}

.form-help:hover .form-help-text,
.form-help:focus .form-help-text {
  bottom: 150%;
}

.form-help:hover .form-help-text,
.form-help:focus .form-help-text,
.form-help:hover .form-help-text:before,
.form-help:focus .form-help-text:before {
  opacity: 0.8;
  visibility: visible;
}


/* ==== PAGE LAYOUT ================================================================================================= */


.text-hide {
  background-color: transparent;
  border: 0;
  color: transparent;
  font: 0/0 a;
}

.clear-fix:after,
.row:after {
  content: "";
  display: table;
  line-height: 0;
}

.clear-fix:after,
.row:after {
  clear: both;
}

.hidden {
  display: none;
  visibility: hidden;
}

.no-list {
  list-style: none;
  padding-left: 0;
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.well {
  background-color: #f5f5f5;
  border: 1px solid #e3e3e3;
  margin-bottom: 20px;
  min-height: 20px;
  padding: 19px;
}

.well--large {
  padding: 24px;
}

.well--small {
  padding: 9px;
}


/* ==== TYPOGRAPHY ================================================================================================== */


.lead {
  font-size: 21px;
  line-height: 26.25px;
}

.hero {
  font-size: 38.5px;
  font-weight: 700;
  line-height: 77px;
}

.lead,
.lead h1,
.lead h2,
.lead h3 {
  color: #fff;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
}

.menuitem--delete {
  color: #c00;
}
