/*!
 * This file is part of {@link https://github.com/MovLib MovLib}.
 *
 * Copyright © 2013-present {@link http://movlib.org/ MovLib}.
 *
 * MovLib is free software: you can redistribute it and/or modify it under the terms of the GNU Affero General Public
 * License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later
 * version.
 *
 * MovLib is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty
 * of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License along with MovLib.
 * If not, see {@link http://www.gnu.org/licenses/ gnu.org/licenses}.
 */

/**
 * Global header styles.
 *
 * @link http://engineering.appfolio.com/2012/11/16/css-architecture/
 * @author Richard Fussenegger <richard@fussenegger.info>
 * @copyright © 2013–present, MovLib
 * @license http://www.gnu.org/licenses/agpl.html AGPL-3.0
 * @link http://movlib.org/
 * @since 0.0.1-dev
 */

#header {
  background-color: #fff;
  border-bottom: 1px solid #595959;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 999999;
}

#header > .container {
  height: 50px;
}

#header__logo {
  border-bottom: 0;
  color: #656565;
  display: block;
  font-size: 28px;
  font-weight: 700;
  line-height: 50px;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 0;
  padding: 0;
  position: relative;
  top: -1px;
  transition: color 0.4s linear;
  width: 180px;
}

#header__logo:hover,
#header__logo:focus {
  color: #353535;
}

#header__logo img {
  position: relative;
  top: -4px;
}

#header__search-form {
  overflow: hidden;
  margin: 0;
  width: 560px;
}

#header__search-wrapper {
  position: relative;
  right: -510px; /* width \o #header__search-input */
  transition: right 0.4s ease-in-out;
}

#header__search-form:hover #header__search-wrapper,
#header__search-form:focus #header__search-wrapper,
#header__search-form:active #header__search-wrapper {
  right: 0;
}

#header__search-form button,
#header__search-form input {
  background-color: #252525;
  border: 0;
  box-shadow: none;
  color: #fff;
  font-size: 24px;
  height: 50px;
  line-height: 50px;
  padding: 0;
}

#header__search-button {
  float: left;
  width: 50px;
}

#header__search-input {
  font-weight: 300;
  width: 510px;
}

#nav-main {
  display: table;
  height: 50px;
  margin: 0;
  padding-right: 50px;
  width: 200px;
  vertical-align: middle;
}

#nav-main .menuitem {
  display: table-cell;
  font-size: 21.333333px;
  font-weight: 300;
  height: 50px;
  text-align: center;
  width: 50px;
}

#nav-main .menuitem--register {
  font-size: 16px;
  text-transform: uppercase;
  width: 100px;
}

#nav-full-container .container {
  position: relative;
}

#nav-full {
  background-color: #252525;
  color: #fff;
  height: 0;
  overflow: hidden;
  transition: height 0.4s ease-in-out;
}

#nav-full h2 {
  color: #fff;
}

#nav-full-container:hover #nav-full,
#nav-full-container:focus #nav-full,
#nav-full-container:active #nav-full {
  height: 60px;
}

#nav-full-switch {
  display: table;
  height: 50px;
  width: 50px;
  position: absolute;
  right: 0;
  bottom: -50px;
}

#nav-full-switch .button {
  display: table-cell;
  vertical-align: middle;
  font-size: 21.333333px;
  cursor: pointer;
}
