/*
    Document   : header
    Created on : Jun 20, 2013, 10:55:26 AM
    Author     : Richard Fussenegger <richard@fussenegger.info>
    Description:
        Purpose of the stylesheet follows.
*/

root {
  display: block;
}

