/*!
 * This file is part of {@link https://github.com/MovLib MovLib}.
 *
 * Copyright © 2013-present {@link http://movlib.org/ MovLib}.
 *
 * MovLib is free software: you can redistribute it and/or modify it under the terms of the GNU Affero General Public
 * License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later
 * version.
 *
 * MovLib is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty
 * of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License along with MovLib.
 * If not, see {@link http://www.gnu.org/licenses/ gnu.org/licenses}.
 */

/**
 * We are using a custom font created with the IcoMoon app that only contains the icons we really use.
 * Please have a look at the LICENSE.txt file in the font directory for more information.
 *
 * @author Dave Gandy
 * @copyright © 2013–present, Dave Gandy
 * @license http://scripts.sil.org/cms/scripts/page.php?site_id=nrsi&id=OFL SIL OFL 1.1
 * @link http://fontawesome.io/
 *
 * @author Daniel Bruce
 * @copyright © 2013–present, Daniel Bruce
 * @license http://creativecommons.org/licenses/by-sa/3.0/ CC BY 3.0
 * @link http://www.entypo.com/
 *
 * @link http://icomoon.io/
 * @author Richard Fussenegger <richard@fussenegger.info>
 * @author Markus Deutschl <mdeutschl.mmt-m2012@fh-salzburg.ac.at>
 * @copyright © 2013–present, MovLib
 * @license http://www.gnu.org/licenses/agpl.html AGPL-3.0
 * @link http://movlib.org/
 * @since 0.0.1-dev
 */

@font-face {
  font-family: MovLib;
  src: url("/font/movlib/movlib.eot?20130822");
  src: url("/font/movlib/movlib.eot?20130822#iefix") format("embedded-opentype"),
       url("/font/movlib/movlib.woff?20130822") format("woff"),
       url("/font/movlib/movlib.ttf?20130822") format("truetype"),
       url("/font/movlib/movlib.svg?20130822#movlib") format("svg")
  ;
  font-weight: 500;
  font-style: normal;
}

.icon:before,
.icon:before {
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  line-height: 1;
  font-family: MovLib;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  text-align: center;
  text-transform: none;
  vertical-align: baseline;
}

.icon--upload-alt:before {content: "\e000";}
.icon--star:before {content: "\e001";}
.icon--star-empty:before {content: "\e002";}
.icon--search:before {content: "\e003";}
.icon--mail:before {content: "\e004";}
.icon--user:before {content: "\e005";}
.icon--menu:before {content: "\e006";}
.icon--help:before {content: "\e007";}
.icon--info:before {content: "\e008";}
.icon--lock:before {content: "\e009";}
.icon--eye:before {content: "\e00a";}
.icon--pencil:before {content: "\e00b";}
.icon--comment:before {content: "\e00c";}
.icon--bell:before {content: "\e00d";}
.icon--warning:before {content: "\e00e";}
.icon--back-in-time:before {content: "\e00f";}
.icon--cc:before {content: "\e010";}
.icon--cc-zero:before {content: "\e011";}
